{% extends "layouts/base.html" %}
{% load render_table from django_tables2 %}
{% block title %} Table template {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}



{% endblock stylesheets %}

{% block content %}

	<!-- Modal-->
	{% if modal %}
	<div class="modal fade" tabindex="-1" role="dialog" id="modal">
	  <div class="modal-dialog" role="document">
		<div class="modal-content"></div>
	  </div>
	</div>
	{% endif %}
	<div class="card">
		<div class="card-header">
			<h4 class="card-title">
				{{ table_name }}
				<!-- Create book button -->
				{% if formurl %}
					{% if not modal %}
						<a href="{{ formurl }}" class="btn btn-primary" style="float: right;" type="button" name="button">Add new</a>
					{% else %}
						<button id="add-new-hils" class="btn btn-primary" style="float: right;" type="button" name="button">Add new</button>
					{% endif %}
				{% endif %}
			</h4>

		</div>
		<div class="card-body">
			{% render_table table %}
		</div>
	</div>
	<div class="card">
		{{ card_header }}
		<div class="card-body">
			<div class="chart-container">
<!--				<canvas id="lineChart"></canvas>-->
				{{ chart }}
			</div>
		</div>
	</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

	<script>
		var lineChart = document.getElementById('lineChart').getContext('2d');
		var myLineChart = new Chart(lineChart, {
			type: 'line',
			data: {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
					label: "Active Users",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: {{ chart_data|safe }}
				}]
			},
			options : {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					position: 'bottom',
					labels : {
						padding: 10,
						fontColor: '#1d7af3',
					}
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				}
			}
		});
	</script>

	<script type="text/javascript">
	$(document).ready(function() {
		$("#add-new-hils").modalForm({
			formURL: "{{ formurl }}"
		});
	});
	$(function () {
		// Delete book buttons - formURL is retrieved from the data of the element
		$(".delete-book").each(function () {
			$(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
		});
		$(".update-book").each(function () {
			$(this).modalForm({formURL: $(this).data("form-url")});
		});
	  });
	</script>



	<script>
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>

{% endblock javascripts %}
